<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page <%= "hello world".toUpperCase()%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat voluptates vitae dolorum rerum beatae eum laudantium sint sequi, et error labore nobis quia explicabo laborum odio! Vel, dignissimos repudiandae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus quibusdam maxime odio magni explicabo amet quas provident perspiciatis doloremque, beatae est soluta, illo voluptas! Quis nam nulla facere exercitationem labore!</p>
</body>
</html>